/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.press-logo {
  img {

    margin-bottom: 0px;
    height: auto;
    width: 100px;
  }
}
.fancy-underlined{
  margin: auto;
  border-bottom: 5px solid #134E90;
}
.step2{
max-width: 535px;
}
.share-links {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;

}
.share-link {
  margin: auto;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  flex: 0 0 13%;
  @media (max-width: $screen-sm) {
    flex: 0 0 25%;
  }
  @media (max-width: $screen-xs) {
    flex: 0 0 40%;
  }
  }

