    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <ul class="list-inline">
              <li><a href=""><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com/Transpro-Services-55273976097/?fref=ts"><i class="fa fa-facebook"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-8 text-right">
            <p>N° de licence : 2008/11/0004033</p>
            <p>N° Siret : 502 627 193 000 27</p>
          </div>
        </div>
      </div>
    </div>
