<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="card-link-2">
          <h4>POUR LES ENTREPRISES:</h4>
            <ul>
              <li> Les trajets de vos salariés à mobilité réduite</li>
              <li> Les trajets aéroports/gare de vos collaborateurs</li>
              <li> Des prestations adaptées à vos évènements : la mise à disposition d’une flotte de voitures avec chauffeurs à des prix compétitifs</li>
            </ul>
      </div>
     </div>
    <div class="col-xs-12 col-sm-12">
      <div class="card-link-2">
        <h4>POUR LES PARTICULIERS:</h4>
          <ul>
            <li> Nos chauffeurs peuvent être mis à votre disposition pour toute la durée de vos courses, ou selon le programme que vous avez établi</li>
            <li> Des prestations spéciales soirée : la mise à disposition d’une flotte de voitures avec chauffeurs à des prix compétitif</li>
          </ul>
        </div>
     </div>
    <div class="col-xs-12 col-sm-12">
      <div class="card-link-2">
        <h4>AUTRES:</h4>
          <ul>
            <li> Les trajets aéroports/gare : Nos chauffeurs vous attendent à la sortie de votre vol ou en début de quai sans frais supplémentaire</li>
            <li> Pour gagner du temps, n'hésitez pas à réserver votre trajet retour!</li>
          </ul>
        </div>
     </div>
  </div>
</div>

 <p class="text-center" style= "margin: 90px" > <%= link_to 'Back', "/index.html"%> </p>
