<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="card-link-1">
        <h4>Crée en 2008, Trans’pro Services est une entreprise de transport de personnes en Ile-de-France inscrite au registre des transporteurs publics de voyageurs sous le N° de licence : 2008/11/0004033. La gérante de la société est titulaire de la capacité professionnelle de transport de personnes.
        </h4>
      </div>
     </div>
      <div class="col-xs-12 col-sm-12">
        <div class="card-link-1">
          <h4>La spécialité</h4>
          <p>Le cœur de métier de notre entreprise est le transport occasionnel des salariés à mobilité réduite des entreprises. Nous effectuons ponctuellement et sur réservation les déplacements des collaborateurs de grandes entreprises en Ile de France. Ce savoir faire unique nous permet d’élargir notre activité à tous types d’autres transports occasionnels de personnes en région parisienne.</p>
      </div>
     </div>

      <div class="col-xs-12 col-sm-12">
        <div class="card-link-1">
          <h4>Les valeurs</h4>
          <p>Notre démarche repose sur la QUALITE des prestations que nous offrons, avec comme critères :</p>
            <ul>
            <li> la ponctualité</li>
            <li> le sens de l’accueil</li>
            <li> l’amabilité et la discrétion</li>
            <li> la sécurité des personnes transportées</li>
            <li> le confort et propreté des véhicules</li>
            <li> la souplesse notamment dans la réservation et la disponibilité du service</li>
            </ul>
      </div>
     </div>
        <div class="col-xs-12 col-sm-12">
          <div class="card-link-1">
            <h4>Les chauffeurs</h4>
            <p>Tous les chauffeurs-accompagnateurs de Trans’pro services sont recrutés et formés par nos soins. Cette formation leur a permis d'acquérir des attitudes et des réflexes rendant la conduite encore plus sécurisante pour les passagers.</p>
            <p>Nous recrutons nos chauffeurs dans les quartiers afin de participer à leur intégration dans le tissu économique parisien.</p>
            <p>Trans’pro services est également signataire de la « charte Prévention Auto Entreprise » établie par AXA. Cet engagement nous permet d’assurer une formation continue de sécurité routière à nos chauffeurs afin d’assurer vos transports en toute sécurité.</p>
        </div>
       </div>
      <div class="col-xs-12 col-sm-12">
        <div class="card-link-1">
          <h4>Les prix</h4>
          <p>C'est non seulement bien... mais aussi bon marché : demandez un devis!</p>
          <p>Notre politique de tarification est rassurante, nous fonctionnons sur le principe d’un forfait fixe et déterminé à l’avance. Sans surprise, le prix est en effet fixé avec vous avant la course. Indépendant des problèmes de circulation ou des éventuels ralentissements aux heures de pointe, le montant de votre course ne subit aucun changement.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12">
        <div class="card-link-1" style="margin-bottom: 10px">
          <h4>Les Voitures</h4>
          <p>Toutes nos voitures sont de petites berlines, à air conditionné dont l’habitabilité est généreuse !
          Nous renouvelons 100% de la flotte tous les ans pour un maximum de confort et de sécurité. Trans’pro services peut également mettre à votre disposition des mini-van pour des transports conviviaux de groupe.</p>
        </div>
      </div>
    </div>
  </div>
</div>

 <p class="text-center" style= "margin: 90px" > <%= link_to 'Back', "/index.html"%> </p>
